* {
  margin: 0;
  padding: 0;
}

#main {
  overflow: hidden;
}

.worker {
  .dark {
    background-color: darkgoldenrod;
    color: #fff;
  }
  .light {
    background-color: rgb(49, 191, 235);
    color: #000;
  }
}

.student {
  .dark {
    background-color: rgb(70, 31, 160);
    color: #fff;
  }
  .light {
    background-color: rgb(255, 252, 59);
    color: #000;
  }
}

.users {
  .completed {
    background: #b295cf;
    width: 600px;
    padding: 10px;
    margin: 20px 10px;
  }
  .notCompleted {
    background: darkgoldenrod;
    width: 600px;
    padding: 10px;
    margin: 20px 10px;
  }
}

.header {
  overflow: overlay;
  nav {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    ul {
      padding-left: 0;
      display: flex;
      list-style: none;
      li {
        padding: 0 10px;
        white-space: nowrap;
        a {
          color: rgb(34, 43, 69);
          text-decoration: none;
          padding: 0 5px;
          font-size: 13px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
