.worker {
  .dark {
    background-color: darkgoldenrod;
    color: #fff;
  }
  .light {
    background-color: rgb(49, 191, 235);
    color: #000;
  }
}

.student {
  .dark {
    background-color: rgb(70, 31, 160);
    color: #fff;
  }
  .light {
    background-color: rgb(255, 252, 59);
    color: #000;
  }
}